
	<br>

	<table width="100%">
		<tr>
			<td width="49.3%" id="activity-left-column">
				<ul class="list-unstyled">

	      <% @user[:comments].each do |comment| %>

	      <p id="activity-description" class="activity-item"><%= comment[:user]["name"]%> commented <b>"<%= comment["content"]%>"</b>:</p>
	      <%= link_to rant_path(comment[:post]["id"]) do %>
	        <li class="media activity-item">
	          <img src="..." class="align-self-center mr-3" alt="...">
	          <div class="media-body">
	            <table width="100%"><tr width=100%>
	              <td width="90%" id="post">
	                <ul class="list-inline">
	                  <li class="list-inline-item post-title"><%= comment[:post]["title"] %></li>
	                  <li class="list-inline-item post-info"><%= comment[:user]["email"] %></li>
	                </ul>
	                <ul class="list-inline">
	                  <li class="list-inline-item post-info"><%= comment[:post]["created_at"] %></li>
	                  <li class="list-inline-item post-info">Comments: <%= comment[:post]["comments"] %></li>
	                </ul>
	              </td>
	              <td width="5%" id="votes">
	                <i id="vote" class="fas fa-caret-up"></i>
	                  <p><%= comment[:post]["votes"] %></p>
	                <i id="vote" class="fas fa-caret-down"></i>
	              </td>
	              <td width="10%" id="votes">
	              </td>
	            </tr></table>
	          </div>
	        </li>
	    	<% end %>
	    	<hr>

	      <% end %>
	      </ul>
			</td>

			<td width="50.7%" id="activity-right-column">
				<ul class="list-unstyled">
				<% @user[:votes].each do |vote| %>

		      <p id="activity-description" class="activity-item"><%= vote[:user]["name"]%><b> <% if vote[:value] == 1 %> upvoted
		      	<% else %> downvoted <% end %></b> the rant:</p>
		      <%= link_to rant_path(vote[:post]["id"]) do %>
		        <li class="media activity-item">
		          <img src="..." class="align-self-center mr-3" alt="...">
		          <div class="media-body">
		            <table width="100%"><tr width=100%>
		              <td width="90%" id="post">
		                <ul class="list-inline">
		                  <li class="list-inline-item post-title"><%= vote[:post]["title"] %></li>
		                  <li class="list-inline-item post-info"><%= vote[:user]["email"] %></li>
		                </ul>
		                <ul class="list-inline">
		                  <li class="list-inline-item post-info"><%= vote[:post]["created_at"] %></li>
		                  <li class="list-inline-item post-info">Comments: <%= vote[:post]["comments"] %></li>
		                </ul>
		              </td>
		              <td width="5%" id="votes">
		                <i id="vote" class="fas fa-caret-up"></i>
		                  <p><%= vote[:post]["votes"] %></p>
		                <i id="vote" class="fas fa-caret-down"></i>
		              </td>
		              <td width="10%" id="votes">
		              </td>
		            </tr></table>
		          </div>
		        </li>
		    	<% end %>
		    	<hr>

		      <% end %>

		    </ul>
			</td>
		</tr>
	</table>
	

      


	