<br>
<ul class="list-unstyled">

      <% @user[:posts].each do |post| %>

        <li class="media">
          <div class="media-body">
            <table width="100%"><tr width=100%>
              <td width="90%" id="post">
              <%= link_to rant_path(post["id"]) do %>
                <ul class="list-inline">
                  <li class="list-inline-item post-title"><%= post["title"] %></li>
                </ul>

              <% end %>
                <ul class="list-inline">
                  <li class="list-inline-item post-info"><%= post["created_at"] %></li>
                  <li class="list-inline-item post-info">Comments: <%= post["comments"] %></li>
                </ul>
              </td>
              <td width="5%" id="votes">
                <i id="vote" class="fas fa-caret-up"></i>
                  <p><%= post["votes"] %></p>
                <i id="vote" class="fas fa-caret-down"></i>
              </td>
              <td width="5%" id="votes">
                <% if @user["id"] == session["warden.user.user.key"][0][0] %>
                <%= link_to post_path(post["id"]), method: :delete do %>
                  <i class="fas fa-times"></i>
                <% end %><br>
                <i class="fas fa-edit"></i><br>
                <% end %>
              </td>
            </tr></table>
        </li>

<!--
            <td><%= post["title"] %></td>
            <td><%= post["creation_date"] %></td>
            <td><%= post["description"] %></td>
            <td><%= post["location"] %></td>
            <td><%= post["open"] %></td>
            <td><%= post["solved"] %></td>
            <td><%= User.find(post["user_id"]).email %></td>
            <td><%= post["comments"] %></td>
            <td><%= post["votes"] %></td>
-->

      <% end %>
    </ul>