<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
  
  <table width="100%">
    <tr>
      <td width="25%">
        <%= @profile["picture"] %>
      </td>
      <td>
        <ul class="list-inline">
          <li id="profile-name" class="list-inline-item"><%= @profile[:user]["name"] %> </li>
          <li id="profile-email" class="list-inline-item"><%= @profile[:user]["email"] %></li>
        </ul>
        <p id="profile-location"><%= @profile["city"] %>, <%= @profile["country"] %></p>
        <hr>
          <p id="profile-biography"><%= @profile["biography"] %></p>
      </td>
    </tr>
  </table>

  <br>

  <ul class="nav nav-tabs nav-fill">
    <%= link_to rants_path, class: "nav-item", remote: true do %>
      <li id="profile-tab" class="nav-item">
        <i id="profile-tab-link" class="nav-link">Rants</i>
      </li>
    <% end %>
    <%= link_to activity_path, class: "nav-item", remote: true do %>
      <li id="profile-tab" class="nav-item">
        <i id="profile-tab-link" class="nav-link">Activity</i>
      </li>
    <% end %>
  </ul>

<div id="profile_content">
  <p>
    <strong>User Posts:</strong>
  </p>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Creation date</th>
        <th>Description</th>
        <th>Location</th>
        <th>Open</th>
        <th>Solved</th>
        <th>User</th>
        <th>Comments</th>
        <th>Votes</th>
        
      </tr>
    </thead>

    <tbody>
      <% @profile[:posts].each do |post| %>
        <tr>
          <td><%= post["title"] %></td>
          <td><%= post["creation_date"] %></td>
          <td><%= post["description"] %></td>
          <td><%= post["location"] %></td>
          <td><%= post["open"] %></td>
          <td><%= post["solved"] %></td>
          <td><%= post["comments"] %></td>
          <td><%= post["votes"] %></td>
          
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

</body>
</html>

