
  <table width="100%">
    <tr>
      <td width="25%">
        <!--%= @profile["picture"] %-->
      <% if @profile.image.url %>
        <%= link_to @profile.image.url do %>
          <%= image_tag @profile.image.url%>
        <% end %>
      <% end %>
      </td>
      <td>
        <ul class="list-inline">
          <li id="profile-name" class="list-inline-item"><%= @user[:user]["name"] %> </li>
          <li id="profile-email" class="list-inline-item"><%= @user[:user]["email"] %></li>
          <% if @user[:user]["id"] == session["warden.user.user.key"][0][0] %>
          <button type="button" class="btn btn-outline-secondary list-inline-item" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i></i></button>
          <% end %>
          <% if can? :manage, @profile %>
            <button type="button" class="btn btn-secondary list-inline-item" data-toggle="modal" data-target="#adminModal"><i class="fas fa-user-cog"></i></button>
          <% end %>
        </ul>
        <p id="profile-location"><%= @profile["city"] %>, <%= @profile["country"] %></p>
        <hr>
          <p id="profile-biography"><%= @profile["biography"] %></p>
      </td>
    </tr>
  </table>

  <br>

  <ul id="profile-navtab" class="nav nav-tabs nav-fill">
    <%= link_to rants_path, class: "nav-item", remote: true do %>
      <li id="profile-tab" class="nav-item">
        <i id="profile-tab-link" class="nav-link">Rants</i>
      </li>
    <% end %>
    <%= link_to activity_path, class: "nav-item", remote: true do %>
      <li id="profile-tab" class="nav-item">
        <i id="profile-tab-link" class="nav-link">Activity</i>
      </li>
    <% end %>
  </ul>



<div id="profile_content">
  
  <br>
  <ul class="list-unstyled">

      <% @user[:posts].each do |post| %>

        <li class="media">
          <div class="media-body">
            <table width="100%"><tr width=100%>
              <td width="90%" id="post">

                <%= link_to rant_path(post["id"]) do %>
                <ul class="list-inline">
                  <li class="list-inline-item post-title"><%= post["title"] %></li>
                </ul>

               <% end %>
                <ul class="list-inline">
                  <li class="list-inline-item post-info"><%= post["created_at"] %></li>
                  <li class="list-inline-item post-info">Comments: <%= post["comments"] %></li>
                </ul>
              </td>
              <td width="5%" id="votes">
                <i id="vote" class="fas fa-caret-up"></i>
                  <p><%= post["votes"] %></p>
                <i id="vote" class="fas fa-caret-down"></i>
              </td>
              <td width="5%" id="votes">
                <% if @user["id"] == session["warden.user.user.key"][0][0] %>
                <%= link_to post_path(post["id"]), method: :delete do %>
                  <i class="fas fa-times"></i>
                <% end %><br>
                <i class="fas fa-edit"></i><br>
                <% end %>
                <i class="fas fa-exclamation-circle"></i>
              </td>
            </tr></table>
        </li>

      <% end %>
    </ul>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="list-inline">
          <h5 class="modal-title list-inline-item" id="exampleModalLabel">Edit profile</h5>
        </ul>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @profile, local: true) do |form| %>
          <% if @profile.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

              <ul>
              <% profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            Name<br>
            <%= form.text_field :name, class: 'form-text-field' %>
          </div><br>

          <div>
            <div class="list-inline-item custom-file">
              <%= form.file_field :picture %>
            </div>
          </div><br>

          <div class="field">
            <%= form.label :biography %><br>
            <%= form.text_area :biography, class: 'form-text-field form-control' %>
          </div>
          <hr>
          <ul class="list-inline">
            <div class="field list-inline-item">
              <%= form.label :city %><br>
              <%= form.text_field :city, class: 'form-text-field' %>
            </div>
            <div class="field list-inline-item">
              <%= form.label :country %><br>
              <%= form.text_field :country, class: 'form-text-field' %>
            </div>
          </ul>
          


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <!--button type="button" class="btn btn-outline-info">Save changes</button-->
        <%= form.submit "Save changes", class: "btn btn-outline-info"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="list-inline">
          <h5 class="modal-title list-inline-item" id="exampleModalLabel">User details</h5>
        </ul>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-inline">
          <li class="list-inline-item">Last Access:</li>
          <li class="list-inline-item">
            <%= @user[:user].last_sign_in_at %>
          </li>
        </ul>
        
        <ul class="list-inline">
          <li class="list-inline-item">User role:</li>
          <li class="list-inline-item">
            <% if @user[:user]["role"] == 1 %>Regular User
            <% elsif @user[:user]["role"] == 2 %>Administrator
            <% elsif @user[:user]["role"] == 3 %>Super Administrator
            <% end %>
          </li>
        </ul>
        <ul class="list-inline">
          <% if @user[:user]["role"] == 1 %>
            <li class="list-inline-item">
              <%= link_to create_admin_path, method: :post do %>
                <button class="btn btn-secondary">Make Admin</button>
              <% end %>
            </li>
          <% end %>
          
          <li class="list-inline-item"><button class="btn btn-secondary">Change password</button></li>
          <li class="list-inline-item">
            <%= link_to destroy_selected_user_path, method: :delete do %>
              <button class="btn btn-danger">Delete user</button>
            <% end %>
          </li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-info">Save changes</button>
      </div>
    </div>
  </div>
</div>