<br>

<%= form_with model: Comment.new do |form| %>
  <%= form.text_area :content, rows: 3, class: 'form-text-field', id: 'new-comment-content', placeholder: 'Comment this post...' %>
  <%= form.submit 'Send', class: 'btn btn-outline-info' %>
<% end %>
<hr>  

<% @post[:comments].each do |comment| %>

<div id="comment">
  <div class="list-inline">
  <%= link_to profile_path(Profile.where(user: comment[:user]["id"]).first) do %>
    <p id="comment-author" class="list-inline-item"><%= comment[:user]["name"] %></p>
  <% end %>
    <p id="comment-date" class="list-inline-item"><%= comment["created_at"] %></p>
  <% if comment[:user]["id"] == session["warden.user.user.key"][0][0] %>
    <%= link_to edit_comment_path(comment["id"]), method: :delete do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= link_to comment_path(comment["id"]), method: :delete do %>
      <i class="fas fa-times"></i>
    <% end %>
  <% end %>
  </div>
  <p id="comment-content"><%= comment["content"] %></p>
</div>

<% end %> 