<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>


  <table width="100%">
    <tr>

      <td id="post-author-info" width="15%"><%= link_to profile_path(@post[:profile]["id"]) do %>
        <% if @post[:profile].image.url %>
          
            <%= image_tag @post[:profile].image.url%>
          
        <% end %>
        <p id="post-author-name"><%= @post[:user]["name"] %></p>
      <% end %></td>

      <td id="post-info" width="70%">
        <div class="list-inline">
          <p id="post-date" class="list-inline-item"><%= @post["created_at"] %></p>
          <% if @post["solved"] == true %>
          <span class="badge badge-pill badge-success">Solved</span>
          <% else %>
          <span class="badge badge-pill badge-secondary">Unsolved</span>
          <% end %>
        </div>
        <div class="list-inline">
          <h2 id="post-title" class="list-inline-item"><%= @post["title"] %></h2>
          <p id="post-location" class="list-inline-item">
            <i class="fas fa-globe"></i> <%= @post["location"] %>
          </p>
        </div>
        <p id="post-description"><%= @post["description"] %></p>
      </td>

      <td width="10%">
        <div id="post-votes">
          <i id="vote" class="fas fa-caret-up"></i>
          <p><% if @post["votes"] != 0%><%= @post["votes"] %>
            <% else %>0
            <% end %>
          </p>
          <i id="vote" class="fas fa-caret-down"></i>
        </div>
      </td>
      <td width="5%" id="votes">
      <% if @post[:user]["id"] == session["warden.user.user.key"][0][0] %>
        <%= link_to post_path(@post["id"]), method: :delete do %>
          <i class="fas fa-times"></i>
        <% end %><br>
        <i class="fas fa-edit"></i><br>
      <% end %>
        <i class="fas fa-exclamation-circle"></i>
      </td>
    </tr>
  </table>


  <ul class="nav nav-tabs nav-fill">
    <%= link_to rant_comments_path, class: "nav-item", remote: true do %>
    <li id="post-tab" class="nav-item">
      <i id="post-tab-link" class="nav-link" href="#">Comments</i>
    </li>
    <% end %>
    <%= link_to rant_photos_path, class: "nav-item", remote: true do %>
    <li id="post-tab" class="nav-item">
      <i id="post-tab-link" class="nav-link" href="#">Photos</i>
    </li>
    <% end %>
    <%= link_to rant_files_path, class: "nav-item", remote: true do %>
    <li id="post-tab" class="nav-item">
      <i id="post-tab-link" class="nav-link" href="#">Files</i>
    </li>
    <% end %>
  </ul> 

  <div id="post_content">

    <br>
    
    <%= form_with model: Comment.new do |form| %>
      <%= form.text_area :content, rows: 3, class: 'form-text-field', id: 'new-comment-content', placeholder: 'Comment this post...' %>
      <%= form.submit 'Send', class: 'btn btn-outline-info' %>
    <% end %>
    <hr>  
    <% @post[:comments].each do |comment| %>

    <div id="comment">
      <div class="list-inline">
      <%= link_to profile_path(Profile.where(user: comment[:user]["id"]).first) do %>
        <p id="comment-author" class="list-inline-item"><%= comment[:user]["name"] %></p>
      <% end %>
        <p id="comment-date" class="list-inline-item"><%= comment["created_at"] %></p>
        <% if comment[:user]["id"] == session["warden.user.user.key"][0][0] %>
          <%= link_to edit_comment_path(comment["id"]) do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to comment_path(comment["id"]), method: :delete do %>
            <i class="fas fa-times"></i>
          <% end %>
        <% end %>
      </div>
      <p id="comment-content"><%= comment["content"] %></p>
    </div>

    <% end %>
  </div>

</body>
</html>
