<p id="notice"><%= notice %></p>

<h3>Administrators</h3>
<%= link_to new_administrator_path  do%>
  <button type="button" class="btn btn-info">New Admin</button>
<% end %>
<hr>
    <% @administrators.each do |administrator| %>


      <%= link_to profile_path(Profile.where(user: administrator[:user]["id"]).first) do %>
        <li class="media">
          <div class="media-body">
            <table width="100%"><tr>
              <td width="70%" id="post">
                <ul class="list-inline">
                  <li class="list-inline-item post-title"><%= administrator[:user]["name"] %></li>
                  <li class="list-inline-item post-info"><%= administrator[:user]["email"] %></li>
                </ul>
              </td>
              <td width="30%" id="votes">
                <ul class="list-inline">
                  <li class="list-inline-item post-info"><%= administrator[:geofence]["location"] %></li>
                  <li class="list-inline-item post-info"><%= administrator["created_at"] %></li>
                </ul>
              </td>
            </tr></table>
        </li>
      <% end %>
    <% end %>
<br>

