

    <h3>Blacklist</h3>
    <hr>


  <%= form_tag(blacklist_search_path, method: :get, class: 'form-inline my-2 my-lg-0') do %>
    <%= text_field_tag :name, params[:name], placeholder: 'Search...', class: 'form-control mr-sm-2 shadow-none' %>
    <%= button_tag(name: '', type: "submit", id: "blacklist-search", class: "btn btn-outline-light my-2 my-sm-0") do %>
        <i class="fas fa-search"></i>
    <% end %>
  <% end %>
  <br>

  <ul class="list-inline">
    <!--li class="list-inline-item">
      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Filter by...</option>
          <option value="1">Date</option>
          <option value="2">User name</option>
          <option value="3">Email</option>
        </select>
      </div>
    </li-->


    


    <%= form_tag blacklist_destroy_selected_path, method: :delete do %>

    <li class="list-inline-item">

      <%= button_tag(type: "submit", class: "btn btn-outline-info list-inline-item") do %>
          Restore
      <% end %>

      <%= link_to dumpsters_path do %>
        <button type="button" class="btn btn-outline-secondary">Go to Dumpster</button>
      <% end %>
    </li>            
  </ul>

  
<br>
  <div id="blacklist-content">
    <ul class="list-unstyled">

      <% @blacklists.each do |entry| %>

      <table width="100%"><tr>

        <td width="5%">
          <%= check_box_tag "users[]", entry["id"] %>
        </td>
        <td> 

      <%= link_to profile_path(Profile.where(user: entry[:user]["id"]).first) do %>
        <li class="media">
              <div class="media-body">
                <ul class="list-inline">
                  <li class="list-inline-item post-title"><%= entry[:user]["name"] %></li>
                  <li class="list-inline-item post-info"><%= entry[:user]["email"] %></li>
                </ul>
                <ul class="list-inline">
                  <li class="list-inline-item post-info"><%= entry["created_at"] %></li>
                </ul>
              </div>
            </td>
          </tr></table>
        </li>
      <% end %>
      <% end %>
    </ul>

  </div>
  <% end %>



