    <p>
      <strong>Open:</strong>
      <%= @post["open"] %>
    </p>
    <p>
      <strong>--------------------------------------------</strong>
    </p>

    <p>
      <strong>Comments:</strong>
    </p>

    <table>
      <thead>
        <tr>
          <th>Picture</th>
          <th>Biography</th>
          <th>City</th>
          <th>Country</th>
          <th>User</th>
          <th>Content</th>
        </tr>
      </thead>

      <tbody>
        <% @post[:comments].each do |comment| %>
          <tr>
            <td><%= comment[:profile]["picture"] %></td>
            <td><%= comment[:profile]["biography"] %></td>
            <td><%= comment[:profile]["city"] %></td>
            <td><%= comment[:profile]["country"] %></td>
            <td><%= comment[:user]["email"] %></td>
            <td><%= comment["content"] %></td>
          </tr>
          <tr>
            <p>
              <strong>Comment:</strong>
              <%= comment["content"] %>
            </p>
          </tr>
        <% end %>
      </tbody>
    </table>