<p id="notice"><%= notice %></p>

<h3>Users</h3>

<hr>
<ul class="list-inline">
  <li class="list-inline-item">
    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Filter by...</option>
        <option value="1">Name</option>
        <option value="2">Email</option>
        <option value="3">Most recent</option>
      </select>
    </div>
  </li>
  <li class="list-inline-item">
    <%= link_to new_user_path  do%>
      <button type="button" class="btn btn-info">New User</button>
    <% end %>
  </li>            
</ul>

<ul class="list-unstyled">

  <% @users.each do |user| %>
  <%= link_to user_path(user["id"]) do %>
    <li class="media">
      <img src="..." class="align-self-center mr-3" alt="...">
      <div class="media-body">
        <table width="100%"><tr width=100%>
          <td width="100%" id="post">
            <ul class="list-inline">
              <li class="list-inline-item post-title"><%= user["name"] %></li>
              <li class="list-inline-item post-info"><%= user["email"] %></li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item post-info"><%= user["creation_date"] %></li>
            </ul>
          </td>
          <td width="10%" id="votes">
          </td>
        </tr></table>
    </li>
  <% end %>


  <% end %>
</ul>

<!--table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table-->

<br>
