<!DOCTYPE html>
<html>
  <head>
    <title>Commandsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">Ranty</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <%= form_tag(search_path, method: :get, class: 'form-inline my-2 my-lg-0') do %>
          <%= text_field_tag :name, params[:name], placeholder: 'Search...', class: 'form-control mr-sm-2 shadow-none' %>
          <%= button_tag(name: '', type: "submit", id: "nav-search", class: "btn btn-outline-light my-2 my-sm-0") do %>
              <i class="fas fa-search"></i>
          <% end %>
        <% end %>
        <ul class="navbar-nav ml-auto">
          <% if can? :manage, :all %>
            <li class="nav-item">
              <a class="nav-link" href="/administrators"><i class="fas fa-users-cog"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dumpsters"><i class="fas fa-trash-alt"></i></a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="/profiles/<%= session["warden.user.user.key"][0][0] %>"><i class="fas fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link logout" href="/log_out"><i class="fas fa-sign-out-alt"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>

