
  <ul class="list-inline">
    <li class="list-inline-item">
      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Filter by...</option>
          <option value="1">Date</option>
          <option value="2">User name</option>
          <option value="3">Email</option>
        </select>
      </div>
    </li>
    <li class="list-inline-item">
      <%= link_to new_blacklist_path  do%>
        <button type="button" class="btn btn-info">Add user</button>
      <% end %>
      <button type="button" class="btn btn-outline-info">Restore</button>
    </li>            
  </ul>
        
      


    <ul class="list-unstyled">

      <% @blacklists.each do |entry| %>

      <%= link_to profile_path(Profile.where(user: entry[:user]["id"]).first) do %>
        <li class="media">
          <table width="100%"><tr>
            <td width="95%">
              <div class="media-body">
                <ul class="list-inline">
                  <li class="list-inline-item post-title"><%= entry[:user]["name"] %></li>
                  <li class="list-inline-item post-info"><%= entry[:user]["email"] %></li>
                </ul>
                <ul class="list-inline">
                  <li class="list-inline-item post-info"><%= entry["created_at"] %></li>
                </ul>
              </div>
            </td>
            <td width="5%">
                <input type="checkbox" value="">
            </td>
          </tr></table>
        </li>
      <% end %>
      <% end %>
    </ul>
