<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>

    <h3>Dumpster</h3>
    <hr>

  <ul class="list-inline">
    <li class="list-inline-item">
      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Filter by...</option>
          <option value="1">Most Upvoted</option>
          <option value="2">Most Downvoted</option>
          <option value="3">Most Commented</option>
        </select>
      </div>
    </li>
    <li class="list-inline-item">
      <%= link_to new_dumpster_path  do%>
        <button type="button" class="btn btn-info">Add Rant</button>
      <% end %>
    </li>            
  </ul>
        
      


    <ul class="list-unstyled">

      <% @dumpsters.each do |dump| %>

      <%= link_to post_path(dump[:post]["id"]) do %>
        <li class="media">
          <img src="..." class="align-self-center mr-3" alt="...">
          <div class="media-body">
            <table width="100%"><tr width=100%>
              <td width="90%" id="post">
                <ul class="list-inline">
                  <li class="list-inline-item post-title"><%= dump[:post]["title"] %></li>
                  <li class="list-inline-item post-info"><%= User.find(dump[:post]["user_id"]).email %></li>
                </ul>
                <ul class="list-inline">
                  <li class="list-inline-item post-info"><%= dump[:post]["creation_date"] %></li>
                  <li class="list-inline-item post-info">Comments: <%= dump["comments"] %></li>
                </ul>
              </td>
              <td width="5%" id="votes">
                <i id="vote" class="fas fa-caret-up"></i>
                  <p><%= dump["votes"] %></p>
                <i id="vote" class="fas fa-caret-down"></i>
              </td>
              <td width="10%" id="votes">
              </td>
            </tr></table>
        </li>
      <% end %>
      <% end %>
    </ul>
  </body>
</html>

