
    <h3>Dumpster</h3>
    <hr>

  <ul id="profile-navtab" class="nav nav-tabs nav-fill">
    <%= link_to dumpster_rants_path, class: "nav-item", remote: true do %>
      <li id="profile-tab" class="nav-item">
        <i id="profile-tab-link" class="nav-link">Rants</i>
      </li>
    <% end %>
    <%= link_to dumpster_users_path, class: "nav-item", remote: true do %>
      <li id="profile-tab" class="nav-item">
        <i id="profile-tab-link" class="nav-link">Users</i>
      </li>
    <% end %>
  </ul><br> 

  <div id="dumpster_content">
    
    <ul class="list-inline">
      <!--li class="list-inline-item">
        <div class="input-group mb-3">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Filter by...</option>
            <option value="1">Most Upvoted</option>
            <option value="2">Most Downvoted</option>
            <option value="3">Most Commented</option>
          </select>
        </div>
      </li-->
      <li class="list-inline-item">
        <%= link_to new_dumpster_path  do%>
          <button type="button" class="btn btn-info">Add Rant</button>
        <% end %>
        <button type="button" class="btn btn-outline-info">Restore</button>
      </li>            
    </ul>
          
        
      <ul class="list-unstyled">

        <% @dumpsters.each do |dump| %>

          <table width="100%"><tr>      
            <td width="5%">
              <input type="checkbox" value="">
            </td>
            <td> 

        <%= link_to rant_path(dump[:post]["id"]) do %>               
              <li class="media">
                <div class="media-body" id="dump-entry-body">
                  <ul class="list-inline">
                    <li class="list-inline-item post-title"><%= dump[:post]["title"] %></li>
                    <li class="list-inline-item post-info"><%= User.find(dump[:post]["user_id"]).email %></li>
                  </ul>
                  <ul class="list-inline">
                    <li class="list-inline-item post-info"><%= dump[:post]["created_at"] %></li>
                    <li class="list-inline-item post-info">Comments: <%= dump["comments"] %></li>
                  </ul>
                </div>
              </li>
            </td>
          </tr></table>
        <% end %>
        <% end %>
      </ul>
  </div>

